<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>JSON and AJAX</title>
    </head>
    <body>

        <header>
            <h1>JSON and AJAX</h1>
            <button id="btn"> Get some data </button><br><br>
            <button id="btn2"> Post some data </button>
        </header>
        <label> This is data from get Request</label>
        <div id="get-info"></div>
        <br><br>
        <div id="post-info"></div>


        <script src="@routes.Assets.versioned("javascripts/main.js")" ></script>


    </body>

</html>