
@import models.Item
@import java.util.List

@(list : List[Item])
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Countries CRUD</title>
        <style>
            input[type='submit'], button, [aria-label]{
                cursor: pointer;
            }
            #spoiler {
                display: none;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>

            <form action="javascript:void(0);" method="POST" onsubmit="app.Add()">
                <input type="text" id="add-name" placeholder="Name"><span></span><br><br>
                <input type="number" id="add-age" placeholder="Age"><br><br>
                <select id="add-color" name="color" >
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                </select>
                <br><br>
                <input type="radio" name="size" id="s" value="S" checked > S
                <input type="radio" name="size" id="m" value="M"> M
                <input type="radio" name="size" id="l" value="L"> L
                <input type="radio" name="size" id="xl" value="XL" > XL
                <br><br>
                <input type="submit" value="Add">
            </form>
        <br>
        <button onclick="app.Clear()"> Send Order </button>
        <div id="spoiler" role="aria-hidden">
            <form action="javascript:void(0);" method="POST" id="saveEdit">
                <input type="text" id="edit-name">
                <input type="submit" value="Edit" /> <a onclick="CloseInput()" aria-label="Close">&#10006;</a>
            </form>
        </div>

        <p id="counter"></p>

        <table>
            <tr>
                <th>Name  </th>
                <th>Age  </th>
                <th>Color  </th>
                <th>Size  </th>
            </tr>
                <tbody id="items">
            </tbody>
        </table>

        <script>

            var app = new function() {
                this.el = document.getElementById('items');
                this.items = [];
                this.Count = function(data) {
                    var el   = document.getElementById('counter');
                    var name = 'item';
                    if (data) {
                        if (data > 1) {
                            name = 'items';
                        }
                        el.innerHTML = data + ' ' + name ;
                    } else {
                        el.innerHTML = 'No ' + name;
                    }
                };

                this.FetchAll = function() {
                    var data = '';
                    if (this.items.length > 0) {
                        for (i = 0; i < this.items.length; i++) {
                            data += '<tr>';
                            data += '<td>' + this.items[i].name + '</td>';
                            data += '<td>' + this.items[i].age + '</td>';
                            data += '<td>' + this.items[i].color + '</td>';
                            data += '<td>' + this.items[i].size + '</td>';
                            data += '<td><button onclick="app.Delete(' + i + ')">Delete</button></td>';
                            data += '</tr>';
                        }
                    }
                    this.Count(this.items.length);
                    return this.el.innerHTML = data;
                };
                this.Add = function () {
                    el1 = document.getElementById('add-name');
                    el2  = document.getElementById('add-age');
                    el3 = document.getElementById('add-color');
                    el4 = document.querySelector('input[name="size"]:checked');
                    // Get the value
                    var order = {
                        name: el1.value.toString().toUpperCase(),
                        age: el2.value,
                        color: el3.value.toString().toUpperCase(),
                        size: el4.value.toString().toUpperCase()

                    };
                    if (order.name && order.age) {
                        // Add the new value
                        this.items.push(order);
                        // Reset input value
                        el1.value = '';
                        el2.value = '';
                        // Dislay the new list
                        this.FetchAll();
                    }
                };

                this.Delete = function (item) {
                    // Delete the current row
                    this.items.splice(item, 1);
                    // Display the new list
                    this.FetchAll();
                };
                this.Clear = function () {
                    for (i = 0; i < this.items.length; i++) {
                        var a1 = this.items[i].name.;
                        var a2 = this.items[i].age;
                        var a3 = this.items[i].color;
                        var a4 = this.items[i].size;
                        list.add(Item(a1,a2,a3,a4));
                        /*list.push({
                            'name': this.items[i].name,
                            'age': this.items[i].age,
                            'color': this.items[i].color,
                            'size': this.items[i].size
                        });*/
                    }
                    //var a = this.items[0].size;
                    //this.items[0].name = a;
                    //this.items = [];
                    this.items =[];
                    this.FetchAll();
                }

            };
            app.FetchAll();
            function CloseInput() {
                document.getElementById('spoiler').style.display = 'none';
            }
    </script>
    </body>
</html>