@import models.Item

@import java.util.List

@(items : List[Item])
<!DOCTYPE html>
<html>
    <head>
        <title>All books </title>
    </head>
    <body>
        @for(item <- items) {
            <p> Title : @item.name </p>
            <p> Age : @item.age </p>
            <p> Size : @item.size </p>
            <p> Color : @item.color </p>
        }


        <button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">
            Click me to display Date and Time.</button>



        <br><br>
        <p id="demo" title="HALLO"></p>





    </body>




</html>