<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <title> Show All Orders </title>
        <style>
            table, th , td  {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
        </style>
    </head>

    <body>

        <div ng-app="ShowOrdersApp" ng-controller="mainCtrl">

            <table>
                <tr>
                    <th> Id </th>
                    <th> Time and Date </th>
                </tr>
                <tr ng-repeat="x in orderlist">
                    <td>{{x.id}}</td>
                    <td>{{x.timestamp}}</td>
                </tr>
            </table>


        </div>
        @*<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/orderForm-table.css")">*@
        <script src="@routes.Assets.versioned("javascripts/listOrdersController.js")"></script>

    </body>
</html>